@font-face {
  font-family: netflix;
  src: url(../fonts/netflix-sans-cufonfonts/NetflixSansBold.ttf);
}

html body{
    background-color: black;
   overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  /* button-arrow */
  /* ::-webkit-scrollbar-button{
   
  } */
  /* Track */
  ::-webkit-scrollbar-track {
    background:rgb(17, 17, 17);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(106, 106, 106);
    width: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(120, 120, 120);
  }
  .body .navbar{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
  .content{
    width: 100%;
    height: 140vh;
    /* background-image: url(../images/main-wallpaper.jpg); */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.63), transparent);
}
/* .content::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.63), transparent);
} */
.content .fit{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    object-fit:cover;
}
.content .info{
  position: absolute;
  width: 32%;
  height: 65%;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.897);
  box-shadow: 0px 0px 5px rgba(41, 40, 40, 0.288);
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.content .info h3{
  color: #DCDCDC;
  font-size: 30px;
  font-family: netflix;
  font-weight: 700;
  padding-top: 50px;
  padding-left: 60px;
}
.content .info #details{
  margin: 10px 40px;
 height: 50px;
 width: 330px;
 padding: 0px 30px;
 font-family: netflix;
 border-radius: 3px;
 border: none;
 outline: none;
 color: #DCDCDC;
 background-color: #232937;
}
::placeholder{
  color: #DCDCDC;
}

.sign{
  width: 330px;
  height: 50px;
  border: .1px solid #dcdcdc4f;
  color: #DCDCDC;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
   background-color: rgb(219, 18, 18); 
  margin:0px 40px;
  margin-top: 40px;
  /* border: 1px solid white; */
  text-align: center;
}
.sign:hover{
  color: #DCDCDC;
background-color: #292929;
  text-decoration: none;
}
.align{
  display: flex;
  color: white;
  padding: 0px 60px;
  /* font-family: netflix; */
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.align .space{
  display: flex;
  justify-content: space-around;
   align-items: center;
 
}
 .siz{
  margin-top: 15px;
  font-size: 14px;
}
.size{
  color: #8DB2E5 !important;
  margin-top: 15px;
  font-size: 14px;
}
.ahref :hover{
  color: #8DB2E5;
  text-decoration: underline !important;
}

.extra-info{
  display: flex;
  margin-top: 35px;
  width: 250px;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid white; */
  margin-left: 40px;
  /* font-size: 10px; */
  flex-direction: row;
  color: white;
}
.extra-info h5{
  padding: 2px;
  margin-top: 7px;
  text-align: center;
  /* border: 1px solid white; */
  font-size: 15px !important;
}
.extra-info .link{
  color: #C76ED7;
}
.info p{
  color: white;
  margin: 0px 50px;
  font-size: 15px;
  /* font-family: netflix; */
}
.dt{
  background-color: rgba(0, 0, 0, 0.37);
  color: white;
  display: flex;
  flex-direction: row; 
  align-items: center;
  position: absolute;
  top: 120%;
  left: 0;
  height: 300px;
  width: 100%;
  /* align-items: center; */
  justify-content: space-evenly;
}
.ending{
  display: flex;
  flex-direction: column;
}
#q{
font-size: 17px;
font-weight: 600;
}
.elite{
font-size: 15px;
color: white;
margin-bottom: 30px;
}
.elite:hover{
  color: white;
text-decoration: underline;
}


@media (max-width:1353px) {
  .content .info{
    height: 55%;
  }
  .content .info h3{
    padding-top: 90px;
  }
  .content .info #details{
    margin: 15px 50px;
    width: 320px;
    height: 60px;
  }
  .sign{
    width: 320px;
    height: 50px;
  }
}
@media (max-width:1162px) {
  .content .info{
    height: 55%;
    width: 36% ;
  }
  .content .info h3{
    padding-top: 90px;
  }
  .content .info #details{
    margin: 15px 50px;
    width: 320px;
    height: 60px;
  }
  .sign{
    width: 320px;
    height: 50px;
  }
}
@media (max-width:1044px) {
  .content .info{
    height: 65%;
    width: 46% ;
  }
  .content .info h3{
    padding-top: 50px;
  }
  .content .info #details{
    margin: 15px 30px;
    width: 320px;
    height: 60px;
  }
  .sign{
    width: 340px;
    margin: 15px 20px;
    height: 50px;
  }
}
@media (max-width:973px) {
  .content .info{
    height: 55%;
    width: 42% ;
  }
  .content .info h3{
    padding-top: 90px;
  }
  .content .info #details{
    margin: 15px 30px;
    width: 320px;
    height: 60px;
  }
  .sign{
    width: 320px;
    height: 50px;
    margin: 15px 30px;
  }
}
@media (max-width:862px) {
  .content .info{
    height: 55%;
    width: 48% ;
  }
  .content .info h3{
    padding-top: 90px;
  }
  .content .info #details{
    margin: 15px 50px;
    width: 320px;
    height: 60px;
  }
  .sign{
    width: 320px;
    height: 50px;
    margin: 15px 40px;
  }
}
@media (max-width:785px) {
  .content .info{
    height: 55%;
    width: 52% ;
  }
  .content .info h3{
    padding-top: 90px;
  }
  .content .info #details{
    margin: 15px 30px;
    width: 320px;
    height: 60px;
  }
  .sign{
    width: 320px;
    height: 50px;
    margin: 15px 30px;
  }
}
@media (max-width:708px) {
  .content .info{
    height: 55%;
    width: 58% ;
  }
  .content .info h3{
    padding-top: 90px;
  }
  .content .info #details{
    margin: 15px 30px;
    width: 320px;
    height: 60px;
  }
  .sign{
    width: 320px;
    height: 50px;
    margin: 15px 30px;
  }
}
@media (max-width:648px) {
  .content .info{
    height: 55%;
    width: 64% ;
  }
  .content .info h3{
    padding-top: 90px;
  }
  .content .info #details{
    margin: 15px 30px;
    width: 320px;
    height: 60px;
  }
  .sign{
    width: 320px;
    height: 50px;
    margin: 15px 30px;
  }
}
@media (max-width:560px) {
  .content .info{
    height: 55%;
    width: 72% ;
  }
  .content .info h3{
    padding-top: 90px;
  }
  .content .info #details{
    margin: 15px 30px;
    width: 320px;
    height: 60px;
  }
  .sign{
    width: 320px;
    height: 50px;
    margin: 15px 30px;
  }
}
@media (max-width:494px) {
  .content .info{
    height: 55%;
    width: 78% ;
  }
  .content .info h3{
    padding-top: 90px;
  }
  .content .info #details{
    margin: 15px 30px;
    width: 320px;
    height: 60px;
  }
  .sign{
    width: 320px;
    height: 50px;
    margin: 15px 30px;
  }
}
@media (max-width:459px) {
  .content .info{
    height: 55%;
    width: 88% ;
  }
  .content .info h3{
    padding-top: 90px;
  }
  .content .info #details{
    margin: 15px 30px;
    width: 320px;
    height: 60px;
  }
  .sign{
    width: 320px;
    height: 50px;
    margin: 15px 30px;
  }
}
@media (max-width:414px) {
  .content .info{
    height: 55%;
    width: 98% ;
  }
  .content .info h3{
    padding-top: 90px;
  }
  .content .info #details{
    margin: 15px 30px;
    width: 300px;
    height: 50px;
  }
  .sign{
    width: 320px;
    height: 50px;
    margin: 15px 30px;
  }
} 
@media (max-width:379px) {
  .content .info{
    height: 55%;
    width: 98% ;
  }
  .content .info h3{
    padding-top: 40px;
  }
  .content .info #details{
    margin: 15px 30px;
    width: 300px;
    height: 50px;
  }
  .sign{
    width: 320px;
    height: 50px;
    margin: 15px 30px;
  }
} 
@media (max-width:355px) {
  /* .content .info{
    height: 55%;
    width: 98% ;
  } */
  .content .info h3{
    padding-top: 40px;
  }
  .content .info #details{
    margin: 15px 30px;
    width: 280px;
    height: 50px;
  }
  .sign{
    width: 280px;
    height: 50px;
    margin: 15px 30px;
  }
} 
@media (max-width:319px) {
  /* .content .info{
    height: 55%;
    width: 98% ;
  } */
  .content .info h3{
    padding-top: 40px;
  }
  .content .info #details{
    margin: 15px 20px;
    width: 250px;
    height: 50px;
  }
  .sign{
    width: 250px;
    height: 50px;
    margin: 15px 20px;
  }
  
.extra-info{
  margin-top: 35px;
  width: 220px;
  margin-left: 10px;
}
.info p{
  margin: 0px 20px;
} 
.align{

  padding: 0px 40px;

}
.align .space{
  display: flex;
  justify-content: space-around;
   align-items: center;
 
}
 .siz{
  margin-top: 15px;
  font-size: 14px;
}
.size{
  color: #8DB2E5 !important;
  margin-top: 15px;
  font-size: 14px;
}
}