html body{
    background-color: #292929;
   overflow-y: scroll;
   overflow-x: hidden;

}
@font-face {
  font-family: netflix;
  src: url(../fonts/netflix-sans-cufonfonts/NetflixSansRegular.ttf);
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  /* button-arrow */
  /* ::-webkit-scrollbar-button{
   
  } */
  /* Track */
  ::-webkit-scrollbar-track {
    background:rgb(96, 96, 96);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(106, 106, 106);
    width: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(120, 120, 120);
  }

.info{
  position: absolute;
  width: 40%;
  height: 70%;
  left: 5%;
  top: 22%;
  /* border: 1px solid black; */
}
/* .alchem{
  border: 1px solid black;
} */
.alchemy{
  padding: 20px 30px;
  /* border: #C06ACF solid 1px; */
}
.i{
  width: 100px;
  height: 40px;
  border: none;
  margin: 0px 30px;
  box-shadow: 2px 2px 2px rgba(44, 43, 43, 0.719);
  border-radius: 5px;
  }

.ii{
  width: 150px;
  height: 40px;
  border: none;
  margin: 0px 0px;
  box-shadow: 2px 2px 2px rgba(44, 43, 43, 0.719);
  border-radius: 5px;
  }
nav{
  background-color: rgba(0, 0, 0, 0.973);
}
.nav-link{
  color:#C06ACF; 
}
.nav-link:hover{
  color:#c06acf9d; 
}

.kids{
  color:#C06ACF !important; 
}
.kids:hover{
  color:#C06ACF !important; 
text-decoration: none;
}
.moreprofiles .others{
  background-color: rgba(0, 0, 0, 0.9);
  height: 360px;
  width: 180px;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.733);
  margin-top: 100px;
  display: none;
  transition-duration: 120s;
  margin-top: -2px;
  transition: 60s;
  z-index: 10000000;
  /* overflow-y: scroll; */
  margin-left: -120px;
} 
.moreprofiles:hover .others{
display: inherit;
}
.fill{
width: 180px;
height: 40px;
display: flex;
justify-content: space-between;
align-items: center;
/* border: 0.1px solid rgba(92, 86, 86, 0.158); */
padding: 8px 15px;

}
.fills{
width: 180px;
height: 40px;
display: flex;
/* justify-content: space-evenly; */
/* border-top: 1px solid rgba(231, 224, 224, 0.829); */
padding: 8px 20px;

}
.filled{
width: 180px;
height: 40px !important;
display: flex;
/* justify-content: space-evenly; */
align-items: center;
border-bottom: 0.1px solid rgba(92, 86, 86, 0.158);
padding: 8px 15px;

}
.purple{
color: rgba(159, 99, 214, 0.829);
font-size: 14px;
}
.purple:hover{
color: rgba(133, 25, 233, 0.685);
}

.bell .content{
  background-color: rgba(0, 0, 0, 0.9);
  height: 400px;
  width: 400px;
  display: none;
  position: absolute;
  margin-top: 0px;
  z-index: 10000000;
  overflow-y: scroll;
  margin-left: -350px;
}
  /* Track */
  ::-webkit-scrollbar-track {
    background:rgb(19, 18, 18);
  } 
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(19, 18, 18);
    width: 15px;
  }
  .bell:hover .content{
    display: inherit;
  }
  .box {
    display: flex;
    flex-direction: row;
    height:80px;
    width: 380px;
    border: 1px solid rgb(128, 123, 123);
  }
  .size{
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    outline: none;
  }
  .arrange{
    width: 180px;
    margin-top: 5px;
    color:#5ba7ee;
    font-weight: 500;
    font-family: netflix;
  }
  .inputbox input{
    border: none;
    outline: none;
    transition: 60s;
    margin-top: -30px;
    margin-left: -200px;
    height: 40px;
    display: none;
    color: white;
    background: rgba(0, 0, 0, 0.9);
  }
  button:focus .inputbox input{
    display: inherit;
}
  ::placeholder{
    color: rgba(255, 255, 255, 0.644);
    padding: 0px 15px;
  }
  
  

  .containerr{
    position: relative;
  }
 .sliders{
    display: grid;
    gap: 5px;
    scroll-behavior: smooth;
    overflow-x: scroll;
    padding: 1rem;
    grid-auto-columns:1fr ;
    /* overflow-x: auto; */
    grid-auto-flow: column;
    grid-auto-columns: 100%;
 }
 ::-webkit-scrollbar{
  height: 3px;
  background-color: rgba(0, 0, 0, 0.24);
 }
 .groups{
  display: grid;
  gap: 5px;
  grid-auto-columns:1fr ;
  grid-auto-flow: column;
  /* border: 2px solid lightseagreen; */
 }

 .image-hovers img{
  width: 100%;
  border-radius: 5px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
 }
 .handle{
  width: 80px;
  height: 120px;
  /* display: none; */
  background-color: rgba(0, 0, 0, 0);
  z-index: 10;
  cursor: pointer;
  border: none;
  /* border: #5ba7ee 1px solid; */
  /* position: absolute; */
  color: white;
  /* padding: 12px 0px; */
  opacity: 0;
  font-size: 70px;
  line-height: 1;
 
}

/* .sliders:has(:target:not(:first-child)) .groups:first-of-type :where(.next .prev) {
  display: none;
  border: #5ba7ee 2px solid;
} */


/* .groups:not(:target){
  border: #C06ACF 2px solid;
} */

.sliders:hover :where(.next, .prev){
  opacity: 1;
}
.sliders .left-arrow:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.sliders .right-arrow:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.textt{
  transition: transform 75ms ease-in-out;
}
.handle:hover .textt {
  transform: scale(1.2);
}
.next {
  position: absolute;
  z-index: 1000;
  width: 80px;
  right: 0;
  bottom: 0;
  /* background: red !important; */
  top: 0;

}
.prev{
  width: 80px;
 z-index: 1000;
 left: 0;
 top: 0;
 bottom: 0;
 /* background: red !important; */
position: absolute;
}

/* .groups:target{
  border: 1px solid red;
} */
.groups:target :where(.next, .prev){
  display: inherit;
}
.indicators{
  position: absolute;
  top: -10px;
  opacity: 0;
  display: flex;
  gap: 2px;
  right: 0;
}
.indicators div{
  background-color: white;
  width: 1rem;
  height: 3px;
opacity: 0.5;
}
.groups:nth-child(1):target ~ .indicators div:nth-child(1){
opacity: 1;
}
.groups:nth-child(2):target ~ .indicators div:nth-child(2){
  opacity: 1;
}
.groups:nth-child(3):target ~ .indicators div:nth-child(3){
  opacity: 1;
}
.groups:nth-child(4):target ~ .indicators div:nth-child(4){
  opacity: 1;
}
.sliders:hover .indicators{
  opacity:1 ;
}


/* .groups:target :where(.next, .prev){
  display: inherit;
} */

/* four */
.four{
  position: relative;
  top: 10vh;
  /* border: 1px solid white; */
  height: 40%;
  width: 70%;
  left: 10%;
  }
  .instaicons{
      color: #84A5B4;
      display: flex;
      width: 25%;
      height: 50px;
      font-size: 23px;
      align-items: center;
      justify-content: space-around;
      /* border: 1px solid rgb(255, 0, 0); */
      flex-direction: row;
  }
  .part1 a{
   color: #84A5B4;
   padding-bottom:10px ;
   /* background-color: #C06ACF; */
   font-size: 12px;
  }
  
  .holder{
      display: flex;
      margin-top: 20px;
      justify-content: space-between;
      flex-direction: row;
      /* border: 1px solid rgb(255, 0, 0); */
      height: 40%;
      width: 100%;
  }
  
     .part1{
      display: flex;
      width: 30%;
      flex-direction: column;
      /* padding: 20px 50px; */
    }
    .class{
      margin-top: 30px;
      /* margin-left: 30px; */
    }
    .sc{
      /* height: 100px; */
      /* margin-top: 50px !important; */
      color: rgba(163, 163, 163, 0.76);
      font-size: 13px;
      font-weight: 500;
      padding: 9px 10px;
      border: 1px solid rgba(187, 181, 181, 0.329);
    }
    .sc:hover{
      color: white;
      text-decoration: none;
    }
    .p{
      margin: 20px 0px;
      font-size: 9px;
    }

    @media (max-width:950px) {
      
/* .groups .image-hovers:nth-child(2), */
.groups .image-hovers:nth-child(1),
.groups .image-hovers:nth-child(5){
/* border: 1px solid aqua !important; */
display: none;
}
    }
    @media (max-width:450px) {
      
.groups .image-hovers:nth-child(2){
/* border: 1px solid aqua !important; */
display: none;
}
    }